body {
    font-family: Montserrat, sans-serif;
    color: #111;
    background-color: #FAFAFA;
    font-style: normal;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.header {}

.header-nav {}

.header-logo {
    color: #111;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: -0.03em;
}

.header-logo-italic {
    font-style: italic;
}

.header-logo-img {}

.header-menu {}

.header-menu-item {}

.header-menu-link {
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #FD9222;
}

.header-soc-list {}

.header-soc-item {}

.header-soc-link {}



.hero {
    background-color: rgba(17, 17, 17, 0.60);
}

.hero-title {
    color: #FFF;
        font-size: 28px;
        font-weight: 500;
        line-height: 1.21;
        letter-spacing: -0.03em;
}

.hero-btn {
    color: #FFF;
    background-color: #FD9222;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #FCF1E0;
    color: #FD9222;
}

.hero-btn-link {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}

.hero-btn-link:hover,
.hero-btn-link:focus {
    color: #FD9222;
    border-color: #FD9222;
}

.hero-btn-down {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.03em;
}

.hero-btn-down:hover,
.hero-btn-down:focus {
    color: #FD9222;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features {
    background-color: #1E1823;
}

.features-list {}

.features-item {}

.features-subtitle {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}

.features-item-text {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em; 
}

.section-title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}
.section-title span {
    color: #FD9222;
}
.taste {}

.taste-title {
}
.taste-title-color {
}
.taste-list {}

.taste-item {}

.taste-list-img {}

.taste-subtitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.made {}

.made-title {
}

.made-title-color {
}

.made-img {}

.made-subtitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
}

.made-list {}

.made-item {}

.made-item-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.products {}

.products-title {
}

.products-title-color {
}

.products-list {}

.products-item {}

.products-img {}

.products-subtitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.products-item-text {
    color: rgba(17, 17, 17, 0.70);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.02em;
}

.products-btn {
    color: #111;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}